<div class="container">
    <h2 class="text-center">Offer</h2>
    <div class="row py-3">
        <div class="col-12 col-md-6">
            <img class="col-12 image"src="https://images-eu.ssl-images-amazon.com/images/I/51AHE6C2atL.jpg" alt="">
        </div>
        <div class="col-12 col-md-6">
            <h3>{{title}} 100 años de Soledad</h1>
            <h4>Author: {{Author}}</h3>
            <h4>Place: {{place}}</h3>
            <h4>State: {{state}}</h4>
            <p>Commentary: {{commentary}}</p>
            <h4 class="my-3" name="price" id="price">${{price}}</h4>
            <div class="text-center ">
                <button class="btn btn-lg btn-block primary-btn ">Accept</button>
            </div>
        </div>
    </div>
</div>