<div class="container-fluid">
   <h2 class="text-center">My Petitions</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active text-center" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-active" role="tab" aria-controls="v-pills-active" aria-selected="true">Active</a>
                <a class="nav-link text-center" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-done" role="tab" aria-controls="v-pills-done" aria-selected="false">Done</a>
            </div>
        </div>
       <div class="col-md-9 overflow-auto">
            <div class="tab-content" id="v-pills-tabContent" style="back">
                <div class="tab-pane fade show active" id="v-pills-active" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        {{#if activePetitions.length}}
                            {{#each activePetitions}}
                                    <div class="col-12 col-md-4">
                                        <div class="card mb-3 text-center">
                                            <img class="card-img-top mt-2 image-card" src="{{photo}}" alt="">
                                            <div class="card-body">
                                                <h4 class="card-title">{{title}} </h4>
                                                <p class="card-text">{{place}}</p>
                                                <div class="row">
                                                    <div class="col-md-6 btn-block-md-6 text-center">
                                                        <a href="/petitions/{{id}}" class="btn btn-block primary-btn">See Details</a>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <a href="../update-petition/{{id}}" class="btn btn-block primary-btn">Edit</a>
                                                    </div>                                            
                                                </div>
                                                <div class="row mt-3">
                                                    <form class="col-12 justify-content-center form-inline" action="/petitions/delete-petition/{{id}}" method="POST">
                                                        <input type="hidden" value="{{account_id}}" name="accountId">
                                                        <button class="btn delete-btn" type="submit">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                            {{/each}}
                        {{else}}
                            <div class="col mt-5 text-center">
                                <h4>No petitions yet</h4>
                                <a class="mt-3 btn btn-lg primary-btn" href="/petitions/create-petition">Create Petition</a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-done" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row">
                        {{#if inactivePetitions.length}}
                            {{#each inactivePetitions}}
                                    <div class="col-md-4">
                                        <div class="card mb-3">
                                            <img class="card-img-top image-card" src="{{photo}}" alt="">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">{{title}} </h4>
                                                <p class="card-text">{{place}}</p>
                                                <div class="row">
                                                    <div class="col-md-6 btn-block-md-6 text-center">
                                                        <a href="/petitions/{{id}}" class="btn btn-block primary-btn">See Details</a>
                                                    </div>
                                                    <div class="col text-center">
                                                        <a href="/purchase/petitions/{{id}}" class="btn primary-btn">See Purchase</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            {{/each}}
                        {{else}}
                            <div class="col mt-5 text-center">
                                <h4>No petitions yet</h4>
                            </div>
                        {{/if}}
                    </div>                   
                </div>
            </div>
       </div>
    </div>
</div>