<div class="container-fluid">
    <form method="POST" action="/petitions/search-petition">
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-10">
                <input type="text" class="form-control" id="searchPetition" placeholder="Search petition" name="searchPetition">
            </div>
            <div class="col-md-1 col-2">
                <button class="btn primary-btn" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="container-fluid my-3">
        <div class="row">
            {{#if petitions.length}}
                {{#each petitions}}
                    <div class="col-md-4 my-2">
                        <div class="card" style="height: 22em">
                            <img class="card-img-top image-card mt-3" src="{{photo}}" alt="">
                            <div class="card-body">
                                <h4 class="card-title text-center">{{title}}</h4>
                                <p class="card-text text-center">{{place}}</p>
                                <a href="/petitions/{{id}}" class="btn btn-block primary-btn">See More</a>
                            </div>
                        </div>
                    </div>  

                {{/each}}
            {{else}}
                <div class="col-md-6 mx-auto text-center">
                        <h3 class="text-center">No petitions yet</h3>
                        <h5>Come back later</h5>
                        <img src="images/clock.svg" alt="" class="image-card my-3">
                </div>
            {{/if}}
        </div>
    </div>
</div>
